{% extends "base.html" %}

{% block title %}關於我{% endblock %}

{% block content %}
	<hander>
		<style type="text/css">
 			* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
			.col-sm-6 {border: 3px solid;}
		</style>
	</hander>

   	<main class="container-fluid bg-secondary text-white text-center ">
		<article>
			<h3 id="MIS">MIS相關工作分析</h3>
			<hr><section>
				<header>
					<h2>天諭科技有限公司</h2>
				</header>

			<img src="/static/company.jpg" class="img-fluid rounded-circle" width="30%"></img>
			</section>
		</article>


		<br><article>
			<section class="col-sm-6  text-warning text-center" >
			公司簡介
			</section>
				為創辦新竹共好商圈協會及共好發展總會，致力打造創業生態圈，透過創業教育課程，幫助人們找到創業成功的關鍵。
				公司由行銷、金融、培訓業界資深人員組成，秉持著共融共好的團隊理念，努力幫助最多人輕鬆擁有自由人生。
				為每一位在職場努力的人，提供一個簡單、合理成本、有系統的金流公式!  立志使命在最短時間幫助最多人擁有自己的家。
			  
			<section class="col-sm-6  text-warning text-center">
			主要商品、服務
			</section>
			  幫助更多人擁有正確創業知識，同時掌握理財工具的使用順序及理財知識

		</article>

	</main>
	<main class="container-fluid bg-secondary text-white text-left ">
		<br><article>
			<h3 class="text-center">MIS暨營運數據分析專案經理</h3>
		</article>

 			
 		<div class="row">
			<section class="col-sm-6">
				<h4 style="font-size: 20px;" class="text-center">工作內容</h4><hr>
				一、系統導入與資料整合<br>
					·協助系統導入專案之執行<br>
					·協助資料架構之整理與優化<br>
				二、資料整理與分析<br>
					·建立分析報表，追蹤各項業務指標與營運成效<br>
					·提供決策部門數據分析結果與建議方向<br>
				三、數據視覺化與工具應用<br>
					·使用 BI 工具建立視覺化儀表板<br>
					·將數據轉化為易理解之圖表與分析資訊<br>
				四、MIS與基礎網管支援<br>
					·基本網路與設備管理（帳號、權限、設備設定<br>
			</section>

			<section class="col-sm-6">
				<h4 style="font-size: 20px;" class="text-center">工作要求</h4><hr>
				工作經歷：不拘<br>
				學歷要求：專科、大學、碩士<br>
				科系、語文條件：不拘<br>
				擅長工具：Excel、PowerPoint、Word<br>
				其他：<br>
				(必要條件)熟悉 Excel 操作（函數、樞紐分析佳），具資料整理與分析能力，邏輯清晰，具問題解決能力良好溝通能力，可跨部門協作<br>
				(加分條件)具 Office 相關證照，熟悉 Power BI 或 Looker Studio﹐具資料視覺化經驗，有系統導入或資料專案經驗，了解 SQL 或 Google Sheets 函數尤佳
			</section>

		<br><h6>
			連結網址：
			<a href="https://www.104.com.tw/" class="text-decoration-none text-info ">104人力銀行</a>
			<a href="https://www.104.com.tw/job/906h5?jobsource=m_index_s" class="text-decoration-none text-info ">此工作項目應徵</a>
		</h6>
	
	</main>

	<footer>
		Copyright ©  CHIA-HSIN. All Rights Reserved.
	</footer>

{% endblock %}

</body>
</html>
