{% extends "base.html" %}

{% block title %}關於我{% endblock %}

{% block content %}
    <style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		.col-md-6 {border: 3px solid;}
	</style>
   
	<main class="container-fliud bg-secondary text-white text-left">
		<hander >
			<h1 class="text-center">個人簡介</h1>
		</hander>
		<hr><article>
			<div class="row align-items-center">
				<div class="col-md-4 text-left">
					<img src="/static/me.jpg" class="img-fluid rounded-circle" width="80%" >
				</div>
				<div class="col-md-8 text-start">
            		<h1 id="Hsin">林佳欣</h1>
            		<h2>Chia-Hsin Lin</h2>
        		</div>
        	</div>
		</article> 
		
	<div class="row">

		<section class="col-md-6">
			基本資料<br>
			系級：靜宜大學 行銷與數位經營學系 三A<br>
			學號：411201524<br>
			信箱：cindy10211202@gmail.com<br>
		</section>

		<section class="col-md-6">
			過往經歷<br>
			·擔任熱舞社副社長與教學<br>
			·參加Union21 Dance<br>
			·獲得2025中區個案競賽-最佳企管人與奇思妙想獎<br>
		</section>

	</div>
	</main>

	<footer>
		Copyright ©  CHIA-HSIN. All Rights Reserved.
	</footer>

{% endblock %}

</body>
</html>
