{% extends "base.html" %}

{% block title %}關於我{% endblock %}

{% block content %}
	<hander>
		<style type="text/css">
 			* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
			.col-sm-6 {border: 3px solid;}
		</style>
	</hander>

   	<main class="container-fluid bg-secondary text-white text-center">
		<article>
			<h3 id="Holland">我的Holland碼：S社會型 & I研究型</h3>
			<hr><section>
			<img src="/static/answer.png" class="img-fluid"></img>
			</section>
		</article>


		<br><article>
			<section class="col-sm-6  text-warning text-center" >
			S社會型
			</section>
			  對人和善，容易相處，他們關心自己和別人的感受，喜歡傾聽和了解別人，也願意付出時間和精力去解決別人的衝突，喜歡教導別人，並幫助他人成長。不愛競爭，喜歡大家一起作事，一起為團體盡力。交友廣闊，關心別人勝於關心工作。

			<section class="col-sm-6  text-warning text-center">
			I研究型
			</section>
			  善於觀察、思考、分析與推理，喜歡用頭腦依自己的步調來解決問題，並追根究底。做事時，他們能提出新的想法和策略，但對實際解決問題的細節較無興趣。喜歡和有相同興趣或專業的人討論，否則寧願自己看書或思考。 對數理化、生命科學學群有興趣。

		</article>

		<br><article>
			<h3>此類型最常從事的職務</h3>
			<hr><section>
			<img src="/static/type.png" class="img-fluid"></img>
			</section>
		</article>

		<br><article>
			<section class="col-sm-6  text-white text-center">
			感興趣之職務
			</section>
				<nav class="text-white text-left">
					類別：<br>
					1.產品企劃管理<br>
					2.組織經營領導<br>
					3.實作服務<br>
				</nav>
			
		</article>

		<h5><hr>
			連結網址：
			<a href="https://guide.104.com.tw/wow/jobworld/holland/" class="text-decoration-none text-info ">興趣和倫碼測驗</a>
		</h5>

	</main>



	<footer>
		Copyright ©  CHIA-HSIN. All Rights Reserved.
	</footer>

{% endblock %}

</body>
</html>
