{% extends "base.html" %}

{% block title %}關於我{% endblock %}

{% block content %}
	<hander>
		<style type="text/css">
 			* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
			.col-sm-6 {border: 3px solid;}
		</style>
	</hander>

   	<main class="container-fluid bg-secondary text-white text-center">
		<article>
			<h3 id="work">履歷</h3>
			<hr><section>
			<img src="/static/my.png" class="img-fluid"></img>
			</section>
		</article>


		<br><article>
			<section class="col-sm-6  text-white text-center" >
			自傳
			</section>
			   我是一個開朗的人，面對任何事情都會非常有責任心且有效率地完成，在過往的團隊合作中經常扮演著領導的角色，帶領大家一起完成任務並努力將大家的想法或意見結合再一起達到更完美的層次。在過往的工作經驗中我都是在餐飲業擔任外場服務生，透過跟客人與同事間的交流學習到很多情況該如何及時面對、該如何做事情的取捨才不會兩敗俱傷，也因為這些關係我也能漸漸能夠從容面對挑戰不怕困難。

			<section class="col-sm-6  text-white text-center">
			未來規劃
			</section>
			  未來希望可以從事行銷專員或是行銷分析相關產業，同時也會在專業領域中持續進修考取相關證照獲得夠專業的相關知識與經驗。

	</main>

	<footer>
		Copyright ©  CHIA-HSIN. All Rights Reserved.
	</footer>

{% endblock %}

</body>
</html>
